@tailwind base;
@tailwind components;
@tailwind utilities;

/* Drawer - bottom up 슬라이드 팝업  */
.ant-drawer.ant-drawer-bottom > .ant-drawer-content-wrapper {
  box-shadow: none !important;
}
@layer utilities {
  /* 모달 공통 */

  .drawer-custom {
    @apply font-default pb-0 max-h-[80vh];
    box-shadow:
      0 -6px 16px 0 rgba(0, 0, 0, 0.08),
      0 -3px 6px -4px rgba(0, 0, 0, 0.12),
      0 -9px 28px 8px rgba(0, 0, 0, 0.05);
  }

  .drawer-custom .ant-drawer-header-title {
    @apply flex justify-between;
  }

  .drawer-custom .ant-drawer-header {
    @apply border-b-0 px-5;
  }

  .drawer-custom .ant-drawer-header-title .ant-drawer-title {
    @apply text-xl font-normal;
  }

  .drawer-custom .ant-drawer-header-title button {
    @apply order-2 ml-auto;
  }

  .drawer-custom .ant-drawer-body {
    @apply px-5 py-0 pt-0;
    max-height: calc(100vh - 200px);
  }

  .drawer-custom:not(:has(.ant-drawer-header)) .ant-drawer-body {
    @apply pt-5;
  }
  .drawer-custom:not(:has(.ant-drawer-footer)) .ant-drawer-body {
    @apply pb-5;
  }

  .drawer-custom .ant-drawer-footer {
    @apply p-0 pt-5 border-t-0;
  }

  @screen pc {
    .drawer-custom.pc-body-fit {
      @apply max-w-[640px] mx-auto rounded-t;
    }
  }
}

/* Drawer 뜰 때 body 스크롤 금지. 화면 움직임 처리 */
body:has(.ant-drawer-open) {
  @apply !overflow-hidden pc:w-[calc(100%-13px)];
}
