@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .event-roulette {
    @apply w-full h-[490px] mt-3 pc:mt-5 pc:h-[919px] bg-repeat-x relative pt-[162px] pc:pt-[240px] bg-left-top;
    background-size: 100% 100%;
  }

  .roulette-main-text {
    @apply pt-5 px-4 font-bold text-center pc:pt-12 absolute top-0 left-0 right-0;
  }

  .roulette-container {
    @apply size-[300px] pc:size-[600px] mx-auto relative;
  }

  .roulette-container .roulette-marker {
    @apply absolute left-1/2 top-0 w-[22px] h-[40px] z-[1] pc:w-[44px] pc:h-[68px] -translate-x-1/2 -translate-y-[30%];
    background: url('/images/event/roulette/ico_marker.svg') no-repeat center;
    background-size: 100% auto;
  }

  .roulette-container .btn-start {
    @apply absolute left-1/2 top-1/2 size-[80px] rounded-full cursor-pointer z-[1] pc:size-[160px] overflow-hidden text-[0px]  -translate-x-1/2 -translate-y-[50%];
    background: url('/images/event/roulette/btn_start.png') no-repeat center;
    text-indent: -999px;
    background-size: 100%;
  }

  .roulette-container .roulette {
    @apply relative w-full h-full rounded-full overflow-hidden bg-no-repeat bg-center;
    background-size: 100%;
  }

  .roulette-container .pie-item {
    @apply absolute left-0 top-0 right-0 h-[150px] pc:h-[300px] mx-auto flex items-center justify-center pb-[30px]  pc:pb-[60px];
  }

  .roulette-container .text-box {
    @apply w-4/5 text-center;
    line-height: 1.2 !important;
  }

  .roulette-container .event-type {
    @apply text-xs pc:text-base w-1/2 mx-auto;
  }

  .roulette-container .event-gift {
    @apply text-base pc:text-3xl font-bold;
  }
}
