@tailwind base;
@tailwind components;
@tailwind utilities;

/* 레이아웃
	Z-INDEX 범위
		- skip : 500
		- hedaer : 501 ~ 600
		- contents : 401 ~ 500
		- footer : 601 ~ 700
		- btn-page-top : 800
		- actionbar : 900
		- dim : 1000
		- loading: 1001
		- layer : 1001
		- floating : 500
*/

@layer utilities {
  /* header : start */
  header {
    z-index: 600;
  }
  header .header-wraper {
    @apply pc:h-[165px];
  }
  header .btn-search {
    @apply text-[0] bg-[url('~/public/images/header/ico_btn_search_mo.svg')] size-5 bg-center bg-auto pc:bg-[url('~/public/images/header/ico_btn_search_pc.svg')] pc:size-9;
  }
  header .btn-category {
    @apply mr-16 size-8;
  }
  header .btn-category::before {
    @apply mo:hidden content-[''] inline-block bg-[url('~/public/images/header/ico_category.svg')] bg-center bg-auto size-8 text-[0];
  }
  header .util-menu > a {
    @apply mo:text-[0] pc:flex flex-col items-center cursor-pointer;
  }
  header .util-menu > a::before {
    @apply content-[''] bg-center bg-contain block size-6 pc:size-8;
  }
  header .util-menu > .mypage::before {
    @apply bg-[url('~/public/images/header/ico_util_mypage.svg')];
  }
  header .util-menu > .cart {
    @apply relative
  }
  header .util-menu > .cart .badge {
    @apply absolute pc:left-5 left-3 -top-1 px-0.5 min-w-4 h-4 leading-4 rounded-full text-white bg-primary text-[11px] text-center flex items-center justify-center;
  }
  header .util-menu > .cart::before {
    @apply bg-[url('~/public/images/header/ico_util_cart.svg')];
  }
  header .util-menu > .recent::before {
    @apply bg-[url('~/public/images/header/ico_util_recent.svg')];
  }
  header .util-menu > .search {
    @apply pc:hidden;
  }
  header .util-menu > .search::before {
    @apply bg-[url('~/public/images/header/ico_util_search.svg')];
  }
  header .first-area {
    @apply absolute left-4 top-4;
  }
  header .btn-home {
    @apply mo:text-[0];
  }
  header .btn-home::before {
    @apply content-[''] bg-center bg-contain block size-6 pc:size-8 bg-[url('~/public/images/header/ico_home.svg')];
  }
  header .btn-delete {
    @apply bg-[url('~/public/images/icons/ico_input_del.svg')] bg-auto bg-center size-6 absolute right-6 pc:right-9 top-2 text-[0];
  }
  header .btn-header-back {
    @apply text-[0] size-6;
  }
  header .btn-header-back::before {
    @apply bg-[url('~/public/images/header/ico_btn_back.svg')] bg-center bg-auto content-[''] size-full block;
  }
  
  .header-account .acount-menu {
    @apply cursor-pointer relative;
  }
  .header-account .acount-menu:not(:last-child)::after {
    @apply bg-gray4 absolute -right-2.5 top-1/2 -translate-y-1/2 w-px h-3 content-[''];
  }
  /* header : end */

  /* footer : start */  
  footer .foot-menu p:not(:first-child)::before {
    @apply content-[''] absolute top-1/2 -left-3 w-px h-2.5 -translate-y-1/2 bg-gray5;
  }
  footer .item .btn-tit {
    @apply flex items-center pc:py-0 mo:py-0 text-center justify-center text-xs text-black;
  }
  footer .item .btn-tit::after {
    @apply static inline-block translate-y-0;
  }
  @screen mo {
    footer {
      /* 아이폰 노치영역 */
      @apply pt-4 pb-24;
      padding-bottom: calc(constant(safe-area-inset-bottom) + 96px);
      padding-bottom: calc(env(safe-area-inset-bottom) + 96px);
    }  
  }
  /* footer : end */

  /* tab bar : start */
  .tab-bar {
    @apply fixed bottom-0 left-0 right-0 border-t border-gray4;
    z-index: 900;
  }
  .tab-bar > .item {
    @apply flex flex-col items-center justify-center h-14 bg-no-repeat bg-[center_top_7px] bg-[length:1.5rem] text-xs;    
  }

  @screen mo {
    .tab-bar {
      /* 아이폰 노치 영역 */
      padding:0 0 calc(constant(safe-area-inset-bottom) + 56px);
      padding-bottom:calc(env(safe-area-inset-bottom) + 56px);
    }
  }
  /* tab bar : end */

  /* gnb, category */
  @screen pc {
    .gnb button.active span {
      @apply relative font-bold;
    }
    .gnb button.active span::after {
      @apply content-[''] w-[calc(100%+4px)] border-b-2 border-black inline-block h-0.5 absolute -bottom-1 -left-0.5;
    }
    .category-menu {
      @apply h-[484px] min-w-max top-[calc(100%--2px)] block absolute left-0 bottom-[484px];
      box-shadow: 4px 6px 7px 0px rgba(0, 0, 0, 0.15);
      -webkit-box-shadow: 4px 6px 7px 0px rgba(0, 0, 0, 0.15);
      -moz-box-shadow: 4px 6px 7px 0px rgba(0, 0, 0, 0.15);
    }
    .category-menu .depth1 {
      @apply w-[176px] h-full;
      overflow-y: overlay;
    }
    .category-menu .scroll-area {
      @apply h-full max-h-[484px] overflow-y-auto overflow-x-hidden border-r border-gray3;
      box-shadow: 4px 6px 7px 0px rgba(0, 0, 0, 0.15);
      -webkit-box-shadow: 4px 6px 7px 0px rgba(0, 0, 0, 0.15);
      -moz-box-shadow: 4px 6px 7px 0px rgba(0, 0, 0, 0.15);
    }
    .category-menu .depth1 > .scroll-area > .item {
      @apply w-full;
    }
    .category-menu .depth1 > .scroll-area > .item > button {
      @apply min-h-11 w-full border-b border-gray3 text-left pl-5 pr-2 py-3;
    }
    .category-menu .depth1 > .scroll-area > .item.on > button,
    .category-menu .depth1 > .scroll-area > .item > button:hover {
      @apply font-bold text-white bg-primary border-none;
    }
    .category-menu .depth2 {
      @apply h-full w-52 absolute top-0 left-[176px] right-0 bottom-0  bg-white;
    }
    .category-menu .depth2 > .scroll-area > .item button {
      @apply min-h-11 relative pl-5 pr-8 w-52 text-left py-3;
    }
    .category-menu .depth2 > .scroll-area > .item.on > button,
    .category-menu .depth3 button:hover {
      @apply font-bold text-primary;
    }
    .category-menu .depth2 > .scroll-area > .item {
      @apply w-[416px];
    }
    .category-menu .depth2 > .scroll-area > .item > button::after {
      @apply size-3 block content-[''] bg-[url('~/public/images/icons/ico_nav_arrow.svg')] absolute top-1/2 right-4 -translate-y-1/2;
    }
    .category-menu .depth2 > .scroll-area > .item > button.leaf::after {
      @apply content-none;
    }
    .category-menu .depth3 {
      @apply max-h-[484px] w-52 h-full absolute top-0 left-52 right-0 bottom-0 bg-white;
    }
    .category-menu .depth1 > .item.on > button + .depth2,
    .category-menu .depth2 > .item.on > button + .depth3 {
      @apply block;
    }
  }
  @screen mo {
    .gnb button {
      @apply h-full border-b border-gray4;
    }
    .gnb button.active {
      @apply border-black font-bold;
    }
    .gnb button span {
      @apply block;
    }
    .category-menu {
      @apply fixed left-0 right-0 top-0 bottom-0 w-full flex flex-col items-start h-full;
    }
    .category-menu .top-area {
      @apply h-16 border-b border-gray3 w-full sticky top-0 bg-white;
      z-index: 2;
    }
    .category-menu .top-area button {
      @apply absolute top-4 right-4;
    }
    .category-menu .scroll-area {
      @apply h-full overflow-y-auto overflow-x-hidden;
    }
    .category-menu .depth1 {
      @apply h-[calc(100%-64px)];
      z-index: 1;
    }
    .category-menu .depth1 > .scroll-area > .item {
      @apply flex justify-between;
    }
    .category-menu .depth1 > .scroll-area > .item > button {
      @apply min-h-11 w-32 border-b border-gray3 text-left pl-5 pr-2 py-3 shrink-0;
    }
    .category-menu .depth1 > .scroll-area > .item.on > button,
    .category-menu .depth1 > .scroll-area > .item > button:hover {
      @apply font-bold text-white bg-primary border-none;
    }
    .category-menu .depth2 {
      @apply flex-1 absolute left-32 right-0 top-16 h-[calc(100%-64px)] border-l border-gray3;
    }
    .category-menu .depth2 > .scroll-area > .item > button {
      @apply min-h-11 text-left pl-5 pr-8 py-3 shrink-0 relative w-full;
    }
    .category-menu .depth2 > .scroll-area > .item > button::after {
      @apply size-3 block content-[''] bg-[url('~/public/images/icons/ico_nav_arrow.svg')] absolute top-1/2 right-4;
      transform: translateY(-50%);
    }
    .category-menu .depth2 > .scroll-area > .item.on > button {
      @apply font-bold text-primary;
    }
  }
  
  /* contents common : start */
  .container {
    @apply min-h-[calc(100vh-326px)] pc:min-h-[calc(100vh-378px)];
  }
  .contents-wrap .page-title {
    @apply mo:hidden;
  }
  @screen mo {
    .container.btn-fixed {      
      @apply pb-[100px];
    }
  }
  /* 사이드바 레이아웃 */
  .contents-wrap.has-sidebar {
    @apply flex gap-16;
    /* border: 1px solid red; */
  }

  .contents-wrap .sidebar {
    @apply w-[242px] flex-none;
  }

  .contents-wrap.has-sidebar .body-wrap {
    @apply flex-auto pc:w-[894px];
  }
  /* contents common : end */

}

/* 기타 공통 정의 */
@layer utilities {
  section + section,
  section + .section-group,
  .section-group + section {
    @apply mt-10;
  }
  .section-group + .section-group {
    @apply mt-16;
  }

  section + .divider {
    @apply mt-10 mb-5;
  }

  .btn-page-top {
    z-index: 800;  
  }
  .btn-page-top button {
    box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.15);
  }
  @screen mo {
    .btn-page-top  {
      /* 아이폰 노치 영역 */
      padding: 0 0 constant(safe-area-inset-bottom);
      padding-bottom:env(safe-area-inset-bottom);
    }
  }

  .page-loading-wrap {
    z-index: 1001;
  }
}