@tailwind base;
@tailwind components;
@tailwind utilities;

/* 모달 */
@layer utilities {
  /* 모달 공통 */
  .modal-custom {
    @apply font-default pb-0 text-black;
  }
  .modal-custom .ant-modal-content {
    @apply rounded-none pl-0 pr-0 pt-0 pb-0 flex flex-col max-h-[80vh];
  }

  .modal-custom .ant-modal-content:not(:has(.ant-modal-header)) {
    @apply pt-11;
  }

  .modal-custom .ant-modal-content:not(:has(.ant-modal-footer)) {
    @apply pb-7;
  }
  .modal-custom .ant-modal-content:has(.btn-fixed) {    
    @apply pb-[6.5rem]
  }

  @screen mo {
    .modal-custom .ant-modal-content:has(.btn-fixed) {
      @apply pb-12 px-0 pt-0;
      /* 아이폰 노치 영역 */
      padding-bottom: calc(constant(safe-area-inset-bottom) + 48px);
      padding-bottom: calc(env(safe-area-inset-bottom) + 48px);
    }
  }
  
  .modal-custom.full .ant-modal-footer .btn-area {
    @apply mo:gap-x-0;
  }
  .modal-custom .ant-modal-body:has(.btn-fixed) {
    @apply mo:pb-10;
  }

  .modal-custom .ant-modal-header {
    @apply pt-10 pl-5 pr-5 pb-5 mb-0;
  }
  .modal-custom .ant-modal-title {
    @apply text-xl font-default text-black whitespace-pre;
  }
  .modal-custom .ant-modal-body {
    @apply overflow-auto pl-5 pr-5 overflow-x-hidden;
  }
  .modal-custom .ant-modal-footer {
    @apply flex pt-0 pl-5 pr-5 pb-5 mt-5;    
  }

  .modal-custom .ant-modal-footer > button {
    @apply transition-none;
  }
  div[role='dialog'] .modal-custom .ant-modal-footer .btn-area {
    @apply gap-x-0;
  }

  .modal-custom.ant-modal .ant-modal-footer > .ant-btn + .ant-btn {
    @apply ml-0 flex-1;
  }

  .modal-custom.ant-modal .ant-modal-footer > button {
    @apply flex-1;
  }

  .modal-custom .ant-modal-footer .ant-btn-default {
    @apply flex-1 h-12 rounded-none text-black font-default border-primary;
  }

  .modal-custom
    .ant-modal-footer
    .ant-btn-default:not(:disabled):not(.ant-btn-disabled):hover {
    @apply text-black border-primary;
  }

  .modal-custom .ant-modal-footer .ant-btn-primary {
    @apply flex-1 h-12 rounded-none text-white font-default bg-primary border-primary;
  }

  .modal-custom
    .ant-modal-footer
    .ant-btn-primary:not(:disabled):not(.ant-btn-disabled):hover {
    @apply bg-primary;
  }
  .ant-modal-body .bottom-fixed {
    @apply absolute left-0 bottom-0 pc:px-5 pc:pb-7 pc:pt-5 bg-white; /* 영역 추후 수정 가능 */
  }
  /* 모달 풀팝업 커스텀 */
  .modal-custom.full {
    @apply mo:h-full mo:fixed mo:left-0 mo:max-w-full mo:top-0 mo:bottom-0 mo:m-0;
  }

  @screen mo {
    .modal-custom.full {
      @apply w-full !important;
    }
  }

  .modal-custom.full .ant-modal-content {
    @apply mo:h-full mo:flex mo:flex-col max-h-[100vh] pc:max-h-[calc(100vh-80px)];
  }

  /* ant 모달 full 케이스 중 렌더링이 .modal-custom.full > .ant-modal-content이 아닌 .modal-custom.full > div > .ant-modal-content 로 되는 경우가 있어 추가 */
  .modal-custom.full > div:not([area-hidden='true']) {
    @apply mo:h-full mo:flex mo:flex-col max-h-[100vh] pc:max-h-[calc(100vh-80px)];
  }

  .modal-custom.full .ant-modal-body {
    @apply mo:flex-1;
  }

  .modal-custom.full .ant-modal-footer {
    @apply mo:pl-0 mo:pr-0 mo:pb-0;
  }

  .modal-custom.full .ant-modal-footer .ant-btn-default {
    @apply mo:border-l-0 mo:border-b-0 h-14;
  }
  .modal-custom.full .ant-modal-footer .ant-btn-primary {
    @apply h-14;
  }

  /* 모달 body full 팝업 커스텀 */
  .modal-custom.m-body-full .ant-modal-body {
    @apply mo:px-0;
  }

  .modal-custom.pc-body-full .ant-modal-body {
    @apply pc:px-0;
  }

  /* 풀 요소 외 컨텐츠 여백이 필요할 경우 사용 */
  .modal-custom.m-body-full .pop-body-padding {
    @apply mo:px-5;
  }

  /* 전시공통팝업 스타일 */
  .modal-custom.common-modal .ant-modal-body,
  .modal-custom.common-modal .ant-modal-content {
    @apply rounded-md shadow-custom;
  }
  .modal-custom.common-modal.modal-bottom {
    @apply mo:!w-full mo:!max-w-full my-0 top-full -translate-y-full;
  }
  .modal-custom.common-modal.modal-bottom .ant-modal-body,
  .modal-custom.common-modal.modal-bottom .ant-modal-content {
    @apply rounded-b-none;
  }
  .modal-custom.common-modal .ant-modal-close {
    @apply hidden;
  }
  .modal-custom.common-modal .ant-modal-content {
    @apply p-0;
  }
}

/* 툴팁 */
.ant-tooltip .ant-tooltip-inner {
  @apply relative p-2 pr-5 shadow-none rounded-none border border-black text-xs;
}
.ant-tooltip .btn-close {
  @apply absolute right-1 top-1 size-3;
}
.ant-modal .ant-modal-close:hover {
  @apply bg-transparent;
}

/* ant 풀팝업 + 하단 fixed 버튼 + 스크롤 되는 화면 일 경우 하단 버튼 사라짐 현상 제거 */
.ant-modal-wrap.ant-modal-centered {
  -webkit-overflow-scrolling:unset;
} 

body:has(.modal-custom.modal-open)::-webkit-scrollbar {
  display: none;
}

/* 모바일 기기에서 길게 눌렀을 때 나타나는 불필요한 반응 제거 */
.btn-close {
  -webkit-touch-callout: none;
}

