@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .review-item {
    @apply py-5;
  }

  .review-item {
    @apply border-t-gray4 border-solid border-t;
  }

  .review-item .review-controls {
    @apply flex gap-3 justify-between mb-2;
  }

  .review-item .review-controls .extra-btns {
    @apply flex gap-2;
  }

  .review-item .review-extra-info {
    @apply text-xs text-gray7 flex gap-3;
  }
  /* text.css 중복정의로 제거
  .review-item .review-content.ellipsis-2 {
    white-space: normal;
    display: block;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-box-orient: vertical;
  } */
}
