@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  a:hover {
    @apply text-black;
  }
  .input-item {
    @apply relative flex-1;
  }
  .flex-col-row {
    @apply flex flex-col pc:flex-row pc:items-center;
  }

  .swiper-gift-items .swiper-pagination {
    @apply h-4 leading-[0] !bottom-0;
  }
  .swiper-gift-items .swiper-pagination-bullet {
    @apply !mx-0.5 size-1.5;
  }
  .swiper-gift-items .swiper-pagination-bullet-active {
    @apply bg-black;
  }
  .swiper-gift-items .swiper-wrapper {
    @apply pc:flex;
  }
}

/* 검색 연관 검색어 slide */
.scroll-container {
  @apply pc:flex pc:justify-center w-full overflow-x-scroll whitespace-nowrap;
  -ms-overflow-style: none;
}
.scroll-item {
  @apply inline-block;
}

.scroll-container::-webkit-scrollbar {
  @apply hidden !w-0
}

/* 메인 category slide */
.slide-category .swiper-wrapper {
  @apply flex pc:justify-center text-center space-x-3 pc:space-x-14
}

/* 메인 full banner slide */
.swiper-type-full {
  @apply text-[0];
}

.swiper-type-full .swiper-pagination {
  @apply absolute bottom-5 bg-black/50 text-white/50 font-normal text-xs rounded-[10px] py-0 px-1.5 h-5 w-12 flex justify-center items-center gap-0.5 cursor-pointer z-[1];
}

@screen mo {
  .swiper-type-full .swiper-button-prev,
  .swiper-type-full .swiper-button-next {
    @apply hidden
  }
  .swiper-type-full .swiper-pagination {
    @apply right-5
  }
  .swiper-type-full .swiper-pagination-fraction {
    @apply left-auto
  }
}

@screen pc {
  .swiper-type-full .swiper-button-prev,
  .swiper-type-full .swiper-button-next {
    @apply flex
  }
  .swiper-type-full .swiper-button-prev {
    @apply left-10
  }
  
  .swiper-type-full .swiper-button-next {
    @apply right-10
  }
  .swiper-type-full .swiper-button-prev,
  .swiper-type-full .swiper-button-next {
    @apply size-[50px] rounded-[50%] bg-black/20;
    transition: 0.2s background;
  }
  .swiper-type-full .swiper-button-prev:not(:disabled):hover,
  .swiper-type-full .swiper-button-next:not(:disabled):hover {
    @apply bg-black/40;
  }

  .swiper-type-full .swiper-button-prev::after,
  .swiper-type-full .swiper-button-next::after {
    @apply text-white text-xl;
  }

  .swiper-type-full .swiper-pagination {
    @apply right-auto left-1/2 -translate-x-1/2
  }
}

.swiper-type-full .swiper-pagination-current {
  color: rgba(255, 255, 255, 0.8);
}

/* swiper custom - type card */
.swiper-type-card {
  @apply text-[0]
}

@screen mo {
  .swiper-type-card .swiper-button-prev,
  .swiper-type-card .swiper-button-next,
  .swiper-type-card .swiper-pagination {
    @apply hidden;
  }
}

@screen pc {
  .swiper-type-card .swiper-pagination-current {
    @apply text-gray9;
  }
}

/* swiper custom - 제품 슬라이드 */
.swiper-product .swiper-button-prev,
.swiper-product .swiper-button-next {
  @apply hidden
}

@screen pc {
  .swiper-product {
    @apply -ml-6 -mr-6 overflow-hidden;
  }

  .swiper-product .swiper {
    @apply px-6 m-0 relative;
  }

  .swiper-product .swiper::after {
    /* 스와이퍼 갯수나 영역 너비에 따라 슬라이더 우측에 다음 슬라이드가 1px 정도 보이는 현상이 있어. 숨김 처리 */
    @apply content-[''] absolute right-0 top-0 w-1 bg-white h-full z-[1];
  }

  .swiper-product .swiper-button-prev,
  .swiper-product .swiper-button-next {
    @apply flex;
  }

  .swiper-product .swiper-button-prev {
    @apply left-0.5;
  }

  .swiper-product .swiper-button-next {
    @apply right-0.5;
  }

  .swiper-product .swiper-button-prev,
  .swiper-product .swiper-button-next {
    @apply top-[135px] size-[50px] rounded-full bg-white;
    transition: 0.2s background;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  }

  .swiper-product .swiper-button-prev::after,
  .swiper-product .swiper-button-next::after {
    @apply text-[20px] text-gray9;
  }

  .swiper-product .swiper-button-prev.swiper-button-disabled,
  .swiper-product .swiper-button-next.swiper-button-disabled {
    @apply pointer-events-auto;
  }
}

/* 최신 기획전 리스트*/
.swiper-display {
  @apply -mx-6;
}

.swiper-display .swiper {
  @apply px-6 m-0;
}

.swiper-display .swiper-button-prev,
.swiper-display .swiper-button-next {
  @apply hidden
}

@screen pc {
  .swiper-display .swiper-button-prev,
  .swiper-display .swiper-button-next {
    @apply flex;
  }

  .swiper-display .swiper-button-prev {
    @apply left-1
  }

  .swiper-display .swiper-button-next {
    @apply right-1
  }

  .swiper-display .swiper-button-prev,
  .swiper-display .swiper-button-next {
    @apply size-9 rounded-full bg-white mt-0 top-[124px];
    transition: 0.2s background;
    box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.15);
  }

  .swiper-display .swiper-button-prev::after,
  .swiper-display .swiper-button-next::after {
    @apply text-xs text-black;
  }

  .swiper-display .swiper-button-prev.swiper-button-disabled,
  .swiper-display .swiper-button-next.swiper-button-disabled {
    @apply pointer-events-auto
  }
}

/* 묶음상품 슬라이더 */
.swiper-bundle-product {
  @apply -mx-5
}

.swiper-bundle-product .swiper {
  @apply px-5 m-0;
}
.swiper-bundle-product .swiper-button-prev,
.swiper-bundle-product .swiper-button-next {
  @apply hidden
}

@screen pc {
  .swiper-bundle-product .swiper-button-prev,
  .swiper-bundle-product .swiper-button-next {
    @apply flex
  }

  .swiper-bundle-product .swiper-button-prev {
    @apply left-0
  }

  .swiper-bundle-product .swiper-button-next {
    @apply right-0
  }

  .swiper-bundle-product .swiper-button-prev,
  .swiper-bundle-product .swiper-button-next {
    @apply size-9 rounded-full bg-white mt-0 top-[72px];
    transition: 0.2s background;
    box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.15);
  }

  .swiper-bundle-product .swiper-button-prev::after,
  .swiper-bundle-product .swiper-button-next::after {
    @apply text-xs text-black;
  }

  .swiper-bundle-product .swiper-button-prev.swiper-button-disabled,
  .swiper-bundle-product .swiper-button-next.swiper-button-disabled {
    @apply pointer-events-auto
  }
}

/* 상품 - 썸네일형 슬라이더 ThumbnailSlide */
@layer utilities {
  .swiper-thumbnail-type {
    @apply pc:inline-flex pc:h-[486px] pc:gap-5 pb-4 pc:pb-0;
  }

  @screen pc {
    /* PC에서 sticky */
    .swiper-thumbnail-type {
      @apply sticky top-5;
    }
  }

  .swiper-thumbnail-type .dim {
    @apply absolute left-0 top-0 w-full h-full flex items-center justify-center bg-black/5;
  }

  .video-guide .dim{
    position: absolute;
  }

  .video-guide .video-container{
    display: flex;
    justify-content: center;
    align-items: center;
  }
    
  /* 큰 썸네일 */
  .swiper-thumbnail-type .main-thumb {
    @apply flex-none pc:w-[486px] pc:h-[486px];
  }

  .swiper-thumbnail-type .main-thumb .thumb-container {
    @apply relative w-full pt-[100%] pc:h-full;
  }

  .swiper-thumbnail-type .main-thumb video.thumb-item,
  .swiper-thumbnail-type .main-thumb img.thumb-item {
    @apply absolute w-full left-0 top-0 h-full object-contain;
  }

  .swiper-thumbnail-type .main-thumb video.thumb-item {
    @apply h-auto top-1/2 translate-y-[-50%];
  }

  .swiper-thumbnail-type .main-thumb .play-control {
    @apply w-20 h-20;
  }

  .swiper-thumbnail-type .main-thumb .swiper-pagination {
    @apply absolute bottom-4 left-auto right-3 w-auto bg-opacity-50 bg-black text-white z-10 font-normal text-xs rounded-[10px] px-2 h-5 flex items-center gap-1 cursor-pointer;
  }

  .swiper-thumbnail-type .main-thumb .swiper-pagination-current {
    @apply text-gray4;
  }

  /* 썸네일 네비게이션 */
  .swiper-thumbnail-type .nav-thumb {
    @apply pc:order-first w-full mt-5 pc:mt-0 pc:w-[78px] pc:py-[17px];
  }

  @screen mo {
    .swiper-thumbnail-type .nav-thumb.swiper-vertical .swiper-wrapper {
      @apply flex-wrap gap-3 flex-row !transform-none;
      /* transform: none !important; */
      /* pointer-events: none; */
    }

    .swiper-thumbnail-type .nav-thumb .swiper-wrapper .swiper-slide {
      @apply flex-none !mr-0 !mb-0;
    }
  }
  @screen pc{
    /* 슬라이드 하단 들여쓰기 처리 */
    .swiper-thumbnail-type .nav-thumb::after {
      @apply content-[''] bg-white h-[17px] w-[78px] block absolute left-0 bottom-0 z-[2];
    }
  }

  .swiper-thumbnail-type .nav-thumb .swiper-slide {
    @apply relative size-[74px] pc:size-[78px];
  }

  .swiper-thumbnail-type .nav-thumb .swiper-slide-thumb-active::before {
    @apply absolute  w-full h-full left-0 top-0 z-10 content-[''];
    border: 1px solid black;
  }

  .swiper-thumbnail-type .nav-thumb .thumb-container {
    @apply relative overflow-hidden w-full h-full pt-[100%];
  }

  .swiper-thumbnail-type .nav-thumb video.thumb-item,
  .swiper-thumbnail-type .nav-thumb img.thumb-item {
    @apply absolute w-full left-0 top-0 h-full object-contain;
  }

  .swiper-thumbnail-type .nav-thumb video.thumb-item {
    @apply h-auto top-1/2 translate-y-[-50%];
  }

  .swiper-thumbnail-type .nav-thumb .play-control {
    @apply w-6 h-6;
  }

  .swiper-thumbnail-type .nav-thumb .swiper-button-prev,
  .swiper-thumbnail-type .nav-thumb .swiper-button-next {
    @apply w-6 h-6 bg-white bg-no-repeat bg-center rounded-full hidden pc:block;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  }

  .swiper-thumbnail-type .nav-thumb .swiper-button-prev::after,
  .swiper-thumbnail-type .nav-thumb .swiper-button-next::after {
    @apply content-none;
  }

  .swiper-thumbnail-type .nav-thumb .swiper-button-prev {
    @apply left-1/2 right-auto top-0 m-0 translate-x-[-50%];
    background-image: url('/images/icons/ico_slider_up.svg');
  }

  .swiper-thumbnail-type .nav-thumb .swiper-button-next {
    @apply left-1/2 right-auto top-auto bottom-1.5 m-0 translate-x-[-50%];
    background-image: url('/images/icons/ico_slider_down.svg');
  }

}

/* 좌우 공통 네비게이션 버튼 스타일 */
@layer utilities {
  @screen pc {
    .default-type {
      @apply -ml-6 -mr-6 overflow-hidden ;
    }
  
    .default-type .swiper {
      @apply px-6 m-0 relative;
    }
    .default-type .swiper-button-prev,
    .default-type .swiper-button-next {
      @apply flex;
    }

    .default-type .swiper-button-prev {
      @apply left-0.5;
    }

    .default-type .swiper-button-next {
      @apply right-0.5;
    }

    .default-type .swiper-button-prev,
    .default-type .swiper-button-next {
      @apply top-1/2 size-[50px] rounded-full bg-white -translate-y-1/4;
      transition: 0.2s background;
      box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    }

    .default-type .swiper-button-prev::after,
    .default-type .swiper-button-next::after {
      @apply text-[20px] text-gray9;
    }

    .default-type .swiper-button-prev.swiper-button-disabled,
    .default-type .swiper-button-next.swiper-button-disabled {
      @apply pointer-events-auto;
    }
  }

  /* 자동 재생 컨트롤 버튼 */
  button.btn-play-control {
    @apply size-5 rounded-full bg-black/50 text-center
  }
  button.btn-play-control img {
    @apply mx-auto
  }
}
.swiper-review {
  position: relative;
}

.swiper-review .swiper-button-prev,
.swiper-review .swiper-button-next {
  position: absolute;
  top: 313px;
}

/* 상품평 상세보기 좌우 버튼 */
.swiper-review .swiper-button-prev::after,
.swiper-review .swiper-button-next::after {
  color: black;
  font-size: 22px;
}

/* 배너 기획전 슬라이드 */
.swiper-type-banner {
  @apply mo:-mx-5
}
.swiper-type-banner .swiper {
  @apply mo:px-5
}
.swiper-type-banner .swiper-button-prev,
.swiper-type-banner .swiper-button-next {
  display: none;
}
.swiper-type-banner .swiper-pagination {
  @apply z-10 absolute bottom-1 right-6 left-auto w-auto bg-opacity-50 bg-black text-white z-10 font-normal text-xs rounded-[10px] px-2 h-5 flex items-center gap-1 cursor-pointer;
}
.swiper-type-banner .swiper-pagination .swiper-pagination-total {
  @apply text-gray4
}

@media all and (min-width: 1025px) {
  .swiper-type-banner {
    @apply -ml-5 -mr-5 overflow-hidden;
  }

  .swiper-type-banner .swiper {
    @apply px-5 m-0 relative;
  }

  .swiper-type-banner .swiper::after {
    @apply content-[''] absolute right-0 top-0 w-1 bg-white h-full z-[1];
  }

  .swiper-type-banner .swiper-button-prev,
  .swiper-type-banner .swiper-button-next {
    @apply flex;
  }

  .swiper-type-banner .swiper-button-prev {
    @apply left-0.5;
  }

  .swiper-type-banner .swiper-button-next {
    @apply right-0.5;
  }

  .swiper-type-banner .swiper-button-prev,
  .swiper-type-banner .swiper-button-next {
    @apply top-1/2 size-9 rounded-full bg-white mt-0 -translate-y-1/2;
    transition: 0.2s background;
    box-shadow: 0px 0 6px rgba(0, 0, 0, 0.15);
  }

  .swiper-type-banner .swiper-button-prev::after,
  .swiper-type-banner .swiper-button-next::after {
    @apply text-[16px] text-black;
  }

  .swiper-type-banner .swiper-button-prev.swiper-button-disabled,
  .swiper-type-banner .swiper-button-next.swiper-button-disabled {
    @apply pointer-events-auto;
  }
}
